torch==1.10.0+cu117
torchvision==0.11.1+cu117
torchaudio==0.10.0+cu117
langchain
einops
accelerate
transformers
bitsandbytes
scipy
xformers
sentencepiece
llama-index
llama_hub
sentence-transformers
pypdf
openai
glob2
